@use "./partials/__global.scss" as *;

/* Variables  */

/* styling for Header 1 & 2 */
h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

/* Styling for Header 3 */
h3 {
  font-size: 2.063rem;
  font-weight: 300;
}

/* default styling for a tags */
a {
  text-decoration: none;
}

/* default styling for p tag */

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 1.25rem;
}

/* Styling for Navigation Bar */
.navhead {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #fff0ed;
  width: 100%;

  &__divider {
    display: inline;
  }

  &__icon {
    width: 3.125rem;
    padding-left: 0.625rem;
  }

  &__title {
    display: inline-block;
    background-color: #fff0ed;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }

  &__titlelink {
    display: inline-block;
    background-color: #fff0ed;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    color: #393939;
  }

  &__list {
    display: inline-block;
    list-style-type: none;
    padding: 1.25rem;
  }

  &__text {
    text-decoration: none;
    color: #393939;
  }

  &__link {
    font-size: 1.313rem;
    font-weight: 400;
    display: inline;
    padding: 1.25rem;

    &--blue {
      color: #5bacc3;
    }
  }
}
/* Picture Banner*/

.titlebox {
  width: 100%;
  height: 43.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/coffee-circle.jpg);

  &__container {
    width: 18.75rem;
    height: 12.5rem;
    background-color: #393939;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__detail {
    width: 18.75rem;
    height: 12.5rem;
    border: 5px solid #5bacc3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 15px;
    bottom: 15px;
  }

  &__text {
    color: white;
    text-align: center;
    margin-top: 1.25rem;
  }
}

/* Sub-Menu  */
.subnav {
  width: 100%;
  background-color: #393939;
  text-align: center;
  text-decoration: solid;

  &__container {
    margin: 0;
  }

  &__list {
    display: inline-block;
    border-left: 3px solid #5bacc3;
    margin: 1.25rem 0;
    padding: 0.313rem 1.25rem;
    list-style-type: none;
    padding: 1.25rem;

    &__item {
      color: white;
    }
  }
}

/* Main Section */

.menu-block {
  background-color: #fff0ed;

  &:nth-child(2n) {
    background-color: white;
  }

  &__title {
    text-align: center;
    margin: 0;
    padding: 1.25rem 0;
  }

  &__item {
    text-align: center;
  }

  &__container {
    text-align: center;
    display: block;
  }

  &__itemdescription {
    font-style: italic;
    text-align: center;
    position: relative;
    display: inline-block;
    word-wrap: normal;
    width: 30rem;
  }

  &__price {
    text-align: center;
    color: #5bacc3;
  }
}
